<!--PRELOADER-->
<div id="preloader">
    <div id="status">
        <img alt="logo" src="assets/images/logo-big.png">
    </div>
</div>
<!--/.PRELOADER END-->

<!--HEADER -->
<div class="header">
    <div class="for-sticky">
        <!--LOGO-->
        <div class="col-md-2 col-xs-6 logo">
            <a href="index.html"><img alt="logo" class="logo-nav" src="assets/images/logo.png"></a>
        </div>
        <!--/.LOGO END-->
    </div>
</div>
<!--/.HEADER END-->

<div class="menu-wrap">
    <nav class="menu">
        <div class="menu-list">
            <a data-scroll="" href="#home" class="active">
                <span>Home</span>
            </a>
            <a data-scroll="" href="#about">
                <span>Fuck</span>
            </a>
            <a data-scroll="" href="#work">
                <span>Work</span>
            </a>
            <a data-scroll="" href="#services">
                <span>Services</span>
            </a>
            <a data-scroll="" href="#employement">
                <span>Employement</span>
            </a>
            <a data-scroll="" href="#skill">
                <span>Skills</span>
            </a>
            <a data-scroll="" href="#education">
                <span>Education</span>
            </a>
            <a data-scroll="" href="#testimonial">
                <span>Testimonial</span>
            </a>
            <a data-scroll="" href="#blog">
                <span>Blog</span>
            </a>
            <a data-scroll="" href="#contact">
                <span>Contact</span>
            </a>
        </div>
    </nav>
    <button class="close-button" id="close-button">Close Menu</button>
</div>
<button class="menu-button" id="open-button">
    <span></span>
    <span></span>
    <span></span>
</button><!--/.for-sticky-->

<div ui-view="content"></div>
